body {
    background: linear-gradient(180deg, #ada6c2 3%, #786e96 4%);
}

article, section, .bubble, textarea#textInput, #dropdown {
    background-color: #ada6c2;
}

.root, select {
    background-color: #786e96;
}

body, textarea#textInput, select, p, a, .mono {
    color: #e4e3e9;
}

#button {
    fill: #e4e3e9;
}

textarea#textInput, hr {
    border-color: #e4e3e9;
}