body {
    background: linear-gradient(180deg, #786e96 3%, #ada6c2 4%);
}

article, section, .bubble, textarea#textInput, #dropdown {
    background-color: #786e96;
}

.root, select {
    background-color: #ada6c2;
}

body, textarea#textInput, select {
    color: #e4e3e9;
}

#button {
    fill: #e4e3e9;
}

p, a, hr, .mono {
    color: #d0cfd5;
}

textarea#textInput {
    border-color: #d0cfd5;
}