body {
    background: linear-gradient(180deg, #2c2e31 3%, #323437 4%);
}

article, section, .bubble, textarea#textInput, #dropdown {
    background-color: #2c2e31;
}

.root, select {
    background-color: #323437;
}

body, textarea#textInput, select, p, a, .mono {
    color: #e2b714;
}

#button {
    fill: #e2b714;
}

textarea#textInput, hr {
    border-color: #e2b714;
}