body {
    background: linear-gradient(180deg, #191919 3%, #1e1e1e 4%);
}

article, section, .bubble, textarea#textInput, #dropdown {
    background-color: #191919;
}

.root, select {
    background-color: #1e1e1e;
}

body, textarea#textInput, select, p, a, .mono {
    color: #007acc;
}

#button {
    fill: #007acc;
}

textarea#textInput, hr {
    border-color: #007acc;
}