*/#Hidden/*
files/img0_3840x2160.jpg

# General extensions
*.lnk
*.url
*.exe
*.zip
*/.metadata/

# Python
*/__pycache__/*
*.pyc
Python/*/*.spec
Python/*/builds/*
Python/*/dist/*

# WIP Projects
Python/textureMatrix/*/*
Python/craftingVisuals/*/*