
*.lnk
*.url
*.exe
*.zip
*/.metadata/
*/#Hidden/*
*/__pycache__/*
*.pyc
files/img0_3840x2160.jpg


Python/Texture Matrix/textures/*
Python/MC Crafting Visuals/textures/*
Python/MC Crafting Visuals/recipes/*