*/#Hidden/*
files/img0_3840x2160.jpg

# General extensions
*.lnk
*.url
*.exe
*.zip
*/.metadata/

# HTML
HTML/flightBot/flightBotThemes/themes

# Java
Java/.idea/*
Java/out/production/*

# Python
*/__pycache__/*
*.pyc
Python/*/*.spec
Python/*/builds/*
Python/*/dist/*
Python/stockMarketGame/*.csv
Python/stockMarketGame/*.html
Python/stockMarketGame/*.png

# WIP Projects
Python/textureMatrix/*/*
Python/craftingVisuals/*/*
